#medalWinnersFromCountry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.8em;
    padding: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    background-color: cyan;
    margin: 0.3em;
    padding: 0.7em;
    border-radius: 1.5em;
    font-family: sans-serif;
}

div h3 {
    color: gray;
    font-family: sans-serif;
}

#medalWinnersFromCountry li {
    font-size: 0.8em;
}

.chart {
    min-width: 310px; 
    height: 400px; 
    margin: 0 auto;
}